 .u-section-1 {
  min-height: 565px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 187px auto 0 109px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 28px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 432px;
  grid-gap: 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 10px 10px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 257px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 6px 10px 10px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 257px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -121px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-right: 157px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 598px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -473px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 47px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 702px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 1232px;
}

.u-section-2 .u-image-1 {
  height: 605px;
  margin-top: -30px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -575px auto 0;
}

.u-section-2 .u-image-2 {
  height: 657px;
  margin-top: 527px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -650px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -585px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 537px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -616px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 322px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 242px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 992px;
  }

  .u-section-2 .u-image-1 {
    height: 459px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -442px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 533px;
    margin-top: 404px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -516px;
    margin-bottom: 478px;
  }
}