 .u-section-1 {
  min-height: 595px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 187px auto 0 109px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-list-1 {
  margin: 28px 30px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 432px;
  grid-gap: 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 6px 10px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 267px 0 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 6px 10px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 267px 0 10px;
}

.u-section-1 .u-group-1 {
  width: 41px;
  min-height: 131px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -281px 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 33px;
  min-height: 16px;
  width: 33px;
  min-width: 16px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 8px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 8px auto 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 130px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 262px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 262px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 230px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 70px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -572px;
    margin-right: 10px;
  }
} .u-section-2 {
  min-height: 1232px;
}

.u-section-2 .u-image-1 {
  height: 605px;
  margin-top: -30px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -575px auto 0;
}

.u-section-2 .u-image-2 {
  height: 657px;
  margin-top: 527px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -650px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -585px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 537px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -616px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 322px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 242px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 992px;
  }

  .u-section-2 .u-image-1 {
    height: 459px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -442px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 533px;
    margin-top: 404px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -516px;
    margin-bottom: 478px;
  }
}.sticky-block {
    position: fixed;
    top: 20%; /* Adjust this to set the vertical position */
    right: 20px; /* Adjust this to set the horizontal position */
    transform: translateY(-50%);
    z-index: 1000; /* Ensures it stays above other elements */
}