 .u-section-1 {
  min-height: 1102px;
}

.u-section-1 .u-image-1 {
  height: 1123px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 75.97% 50%;
}

.u-section-1 .u-slider-1 {
  width: calc(((100% - 1140px) / 2)  + 353px);
  min-height: 746px;
  height: auto;
  margin: -993px 0 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 31px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 170px;
  height: 150px;
  margin: 56px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 35px 44px 0;
}

.u-section-1 .u-list-1 {
  width: 565px;
  margin: 13px auto 0 -827px;
}

.u-section-1 .u-repeater-1 {
  min-height: 431px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  width: 332px;
  margin: 322px auto 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -421px 23px 0;
}

.u-section-1 .u-text-4 {
  font-size: 4.5rem;
  width: 72px;
  font-weight: 700;
  margin: -32px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 41px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 76px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-slider-1 {
    width: calc(((100% - 940px) / 2) + 353px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -431px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: calc(((100% - 720px) / 2) + 353px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: calc(((100% - 540px) / 2) + 353px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 22px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }
}

.u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]),
.u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-17:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]),
.u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]).u-block-c8f8-33:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
  min-height: 1076px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1076px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 514px;
  object-position: 50% 0%;
  left: 12px;
  right: auto;
}

.u-section-2 .u-shape-1 {
  width: 371px;
  height: 371px;
  background-image: none;
  margin: 354px -40px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -296px -10px 0 457px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: -7px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1076px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  letter-spacing: -3px;
  font-weight: 700;
  margin: 34px 187px 0 40px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 34px 40px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1189px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 887px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 4px;
    margin-left: 274px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 887px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: -10px;
    margin-left: 19px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
  min-height: 1223px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1179px);
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1253px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-family: Georgia, serif;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 129px 0 0 45px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 56px 19px 0 45px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1225px;
}

.u-section-3 .u-image-1 {
  min-height: 636px;
  width: 636px;
  background-image: url("images/7beca3dc-682e-77b4-0e89-f46a04c1d663.png");
  background-position: 50% 50%;
  height: auto;
  margin: 319px -40px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 716px;
  height: 668px;
  object-position: 50% 20.46%;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -794px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 982px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 999px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 977px;
  }

  .u-section-3 .u-image-1 {
    width: 584px;
    margin-right: 0;
    height: auto;
  }

  .u-section-3 .u-image-2 {
    width: 584px;
    height: 545px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 786px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 748px;
  }

  .u-section-3 .u-image-1 {
    width: 445px;
  }

  .u-section-3 .u-image-2 {
    width: 445px;
    height: 415px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1004px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 886px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 723px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 558px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 317px;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(99, 20, 135, 1), rgba(99, 20, 135, 1));
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 1262px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  width: 655px;
  font-size: 3.75rem;
  margin: 48px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 843px;
  margin: 48px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15.5px));
  min-height: 714px;
  grid-gap: 31px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-4 .u-icon-1 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 17px auto 0;
  padding: 19px;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 28px 13px 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px 13px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 0 23px;
}

.u-section-4 .u-icon-2 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 17px auto 0;
  padding: 19px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 28px 13px 0 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px 13px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 19px 38px 13px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 14px));
    grid-gap: 28px;
  }

  .u-section-4 .u-text-6 {
    width: 655px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-6 {
    width: 340px;
  }
}

.u-section-4 .u-icon-2,
.u-section-4 .u-icon-2:before,
.u-section-4 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-1,
.u-section-4 .u-icon-1:before,
.u-section-4 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(206, 170, 21, 1), rgba(206, 170, 21, 1));
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 1169px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  width: 720px;
  font-size: 3.75rem;
  margin: 48px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 792px;
  margin: 48px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 634px;
  grid-auto-columns: 100%;
  grid-gap: 31px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-5 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-5 .u-icon-1 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 17px auto 0;
  padding: 19px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 28px 13px 0 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px 13px 0 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 33px 104px 0 116px;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 19px 38px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 14px));
    grid-gap: 28px;
  }

  .u-section-5 .u-text-5 {
    width: 655px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 68px;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }
}

.u-section-5 .u-icon-1,
.u-section-5 .u-icon-1:before,
.u-section-5 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
  min-height: 12px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 158px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 506px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 282px;
  }
}